
/go-vncdriver/*
/gym/*
/universe/*
/keras-rl/*
/tensorflow/*
/models/*

/workspace/assets/imagenet/cifar-10-batches-bin/*
/workspace/assets/imagenet/cifar-10-binary.tar.gz
/workspace/assets/imagenet/images/*

workspace/classify/classify_image/images/*
workspace/classify/classify_image/models/*

**/__pycache__/*

*.pyc
.DS_Store
